{% extends 'home/base.html' %}

{% block content %}
<h2>Registro de Usuario</h2>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <label for="">Nombre de Usuario</label>
        {{form.username}}
    
        {% if form.username.errors %}
            <p style="color:red">{{form.username.errors}}</p>
        {% endif %}
    </div>

    <div class="row">
        <label for="">Email</label>
        {{form.email}}
    
        {% if form.email.errors %}
            <p style="color:red">{{form.email.errors}}</p>
        {% endif %}
    </div>

    <div class="row">
        <label for="">Contraseña</label>
        {{form.password1}}
    
        {% if form.password1.errors %}
            <p style="color:red">{{form.password1.errors}}</p>
        {% endif %}
    </div>

    <div class="row w-3">
        <label for="">Confirme Contraseña</label>
        {{form.password2}}
    
        {% if form.password2.errors %}
            <p style="color:red">{{form.password2.errors}}</p>
        {% endif %}
    </div>

    <div class="mt-3">
        <label for="">Nombre</label>
        {{form.first_name}}


        <label for="">Apellido</label>
        {{form.last_name}}
    </div>




    <button type="submit" class="btn btn-success mt-3">Registrarme</button>
</form>
{% endblock %}