{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles de la Categoria</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <a href="{% url 'category_update' category.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'category_list' %}" class="btn btn-secondary">Volver a la lista</a>
            {% if user.is_authenticated %}
            <a href="{% url 'category_update' category.id %}" class="btn btn-primary">Editar</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
