{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Proveedores</h2>
    <a href="{% url 'supplier_create' %}" class="btn btn-primary mb-3">Crear Proveedor</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.address }}</td>
                <td>{{ supplier.phone }}</td>
                <td>
                    <a href="{% url 'supplier_detail' supplier.id %}" class="btn btn-info btn-sm">Detalles</a>
                    <a href="{% url 'supplier_update' supplier.id %}" class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'supplier_delete' supplier.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}