{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Opiniones</h2>
    <a href="{% url 'review_create' %}" class="btn btn-primary mb-3">Dar una Opinion</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Autor</th>
                <th>Opinion</th>
                <th>Fecha</th>
                <th>Valoracion</th>

            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.product }}</td>
                <td>{{ review.author.first_name }} {{review.author.last_name}}</td>
                <td>{{ review.text }}</td>
                <td>{{ review.date }}</td>
                <td>{{ review.rating }}</td>
                <td>
                    <a href="{% url 'review_detail' review.id %}" class="btn btn-info btn-sm">Detalles</a>
                    {% if user.is_authenticated %}
                        {% if not user.is_staff %}
                        <a href="{% url 'review_update' review.id %}" class="btn btn-success btn-sm">Editar</a>
                        {% endif %}
                        <a href="{% url 'review_delete' review.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
